.app-container {
  .grey-bg {
    background-color: #0dcaf0;
  }
}
.list-wrapper {
  width: 100%;
  .tools-line {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;

    & > * {
      &:not(:last-child) {
        margin-right: 20px;
      }
    }
    .btn-back {
      margin-left: auto;
    }
  }
}

#upload_file_field {
  display: none;
}